<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
<!--        &lt;!&ndash; 开启mybatis日志输出，使用system进行控制台输出&ndash;&gt;-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启驼峰自动映射，实现数据库列名和属性名匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

<!--    <mappers>-->
<!--        <mapper resource="mapper/TeacherMapper.xml"/>-->
<!--    </mappers>-->

</configuration>
