<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口-->
<mapper namespace="com.example.mapper.NoticeMapper">
    <select id="selectAllNotices1" resultType="com.example.entity.Notice">
        select * from xm_notice;
    </select>

    <delete id="deleteById1">
        delete from xm_notice where notice_id = #{noticeId};
    </delete>

    <update id="updateNotice1">
        update xm_notice set notice_time = #{noticeTime},notice_text=#{noticeText} where notice_id =#{noticeId};
    </update>

    <insert id="insertNotice1">
        insert into xm_notice (notice_id,notice_text,notice_time) values (#{noticeId},#{noticeText},#{noticeTime});
    </insert>

</mapper>
