<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口-->
<mapper namespace="com.example.mapper.TeacherMapper">

    <select id = "selectAllTeachers1" resultType="com.example.entity.Teacher">
        SELECT * FROM xm_teacher
    </select>

    <delete id="deleteById1">
        delete from xm_teacher where teacher_id =#{teacherId}
    </delete>

    <update id="updateTeacher1">
        update xm_teacher set teacher_name =#{teacherName},teacher_phone=#{teacherPhone},teacher_subject=#{teacherSubject},
        teacher_email=#{teacherEmail},teacher_picture=#{teacherPicture}
        where teacher_id=#{teacherId}
    </update>

</mapper>
